/*----COLORS----
$color1: rgba(58, 79, 65, 1); 3A4F41 RIFLE GREEN
$color2: rgba(13, 19, 33, 1); 0D1321 EERIE BLACK
$color3: rgba(191, 192, 192, 1); #BFC0C0 SILVER
$color4: rgba(247, 235, 232, 1); F7EBE8 LINEN
$color5: rgba(0, 0, 0, 1); 000000 BLACK

----TYPO----
font-family: 'EB Garamond', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Special Elite', cursive;

Roboto:400
*/


/*----GENERAL----*/

@import url('https://fonts.googleapis.com/css?family=Marcellus+SC|Open+Sans+Condensed:300');

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-size: 1rem;

}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 80px 50px;
    overflow: auto;
}

h2 {
	text-align: center;
}

/*-----TYPO-----*/



h1, h2, h3, h4, h5, h6 {
	font-family: 'Marcellus SC', serif;
	text-transform: uppercase;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 1px;
	font-size: 1.2rem;
}


/*-----HEADER----*/

#showcase {
	background: linear-gradient(rgb(0,0,0, 0.2),rgba(0,0,0, 0.3)), url('img/beach.jpeg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #FBFBFB;
}


#showcase {
  position: relative;
}

#showcase .child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#showcase h1 {
	font-size: 5rem;
	line-height: 4.4rem;
	margin-bottom: 20px;
	max-height: 40%;
	letter-spacing: 10px;
}

#showcase hr {
	border: .8px solid #FBFBFB;
	width: 180px;
	margin-top: 0;
	margin-bottom: 0; 
}

#showcase p {
	margin-top: 8px;
	font-size: 1.5rem;
	letter-spacing: 5px;
}

/*-----NAV----*/

nav {
    text-align: center;
    background-color: rgba(15, 15, 15, .7);
    position: fixed;
    width: 100%;
    box-shadow: 0 0 10px black;
}

nav a {
    display: inline-block;
    padding: 25px 25px;
	text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .7);
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
}

nav .title {
	font-family: 'Marcellus SC', serif;
	font-weight: bold;
	letter-spacing: 3px;
}

/*----ABOUT----*/


#about p {
	margin: 60px 0px 100px 0px;
}

#about {
	padding-bottom: 40px;
}

/*----FACTS---*/

#facts {
	display: flex;
	justify-content: space-between;
	padding: 0px 50px 70px 50px;
	flex-direction: row-reverse;
}

#facts h5 {
	font-size: 1rem;
	margin: 0;
	padding: 8px;
}

#facts .icon-number {
	display: flex;
	justify-content: space-around;
	flex-direction: row-reverse;
}

#facts hr {
	border: .8px solid black;
	width: 80px;
	margin-top: 0;
	margin-bottom: 0; 
}

/*----SLOGAN----*/

#slogan {
	background: linear-gradient(rgba(15,15,15,.2),rgba(15,15,15,.3)), url('img/star.jpeg') fixed;
	height: 70vh;
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #FBFBFB;
	margin-bottom: 80px;
}

#slogan h2 {
	padding-top: 29vh;
	font-size: 3rem;
	line-height: 3.3rem;
	margin-bottom: 20px;
	letter-spacing: 6px;
}


/*----PACKAGE----*/

#packages {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding-top: 30px;
}

.packages {
	display: flex;
	flex-direction: column;
	width: 25%;
}

#packages h3, p {
	text-align: center;

}


/*----GUIES----*/

#guies {
	padding-top: 0;
}



@media (max-width: 600px) { 

	nav a {
    display: inline-block;
    padding: 25px 15px;
	}

	#showcase h1 {
	font-size: 3.5rem;
	line-height: 3.3rem;
	margin-bottom: 8px;
	letter-spacing: 8px;
	}

	#showcase p {
		font-size: 1.4rem;
		letter-spacing: 5px;
	}

	#slogan h2 {
	padding-top: 29vh;
	font-size: 2rem;
	line-height: 2.3rem;
	margin-bottom: 20px;
	letter-spacing: 4px;
	}

	#facts {
		flex-wrap: wrap;
		justify-content: center;
	}

	.facts .icon-number {
		width: 100%;
		justify-content: center;
	}

	.facts {
		margin: 30px 20px;
	}
	
	#facts p {
		text-align: center;
	}

	#packages {
		flex-wrap: wrap;
	}

	.packages {
		width: 100%;
	}
}